@font-face {
    font-family: 'Infinity Sans';
    src: url('InfinitySans-Regular.eot');
    src: url('InfinitySans-Regular.eot?#iefix') format('embedded-opentype'),
        url('InfinitySans-Regular.woff2') format('woff2'),
        url('InfinitySans-Regular.woff') format('woff'),
        url('InfinitySans-Regular.ttf') format('truetype'),
        url('InfinitySans-Regular.svg#InfinitySans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Infinity Sans';
    src: url('InfinitySans-Bold.eot');
    src: url('InfinitySans-Bold.eot?#iefix') format('embedded-opentype'),
        url('InfinitySans-Bold.woff2') format('woff2'),
        url('InfinitySans-Bold.woff') format('woff'),
        url('InfinitySans-Bold.ttf') format('truetype'),
        url('InfinitySans-Bold.svg#InfinitySans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}